<!DOCTYPE html>
<html>
<head th:replace="fragments :: page_header(${pageTitle}, 'none')"></head>
<body id="page-top">
	<div id="wrapper" class="container-fuild">
		<nav th:replace="nav :: menu"></nav>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<nav th:replace="nav :: header_customrer"></nav>

				<div class="container-fluid">
					<h1 class="h3 mb-2 text-gray-800">Quản lý nhân viên</h1>
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">[[${pageTitle}]]</h6>
						</div>

						<div class="card-body">
							<form class="container" th:action="@{/users/save}" method="post"
								th:object="${user}" style="max-width: 700px;"
								enctype="multipart/form-data">
								<!-- onsubmit="return checkEmailUnique(this);" -->
								<input type="hidden" id="error" th:value="${error_email == null ? '' : error_email}">
								<input type="hidden" th:field="*{id}">
								<div class="border rounded p-3">
									<div class="form-group row">
										<label for="email" class="col-sm-4 col-form-label">Email</label>
										<div class="col-sm-8">
											<input type="email" class="form-control" name="email"
												id="email" value="" th:field="*{email}" required="required"
												minlength="8" maxlength="128">
										</div>
									</div>

									<div class="form-group row">
										<label for="first_name" class="col-sm-4 col-form-label">Tên</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" name="first_name"
												id="first_name" value="" th:field="*{firstName}"
												required="required" minlength="2" maxlength="45">
										</div>
									</div>

									<div class="form-group row">
										<label for="last_name" class="col-sm-4 col-form-label">Họ</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" name="last_name"
												id="last_name" value="" th:field="*{lastName}"
												required="required" minlength="2" maxlength="45">
										</div>
									</div>

									<div class="form-group row">
										<label for="password" class="col-sm-4 col-form-label">Mật khẩu</label>
										<div class="col-sm-8">
											<input th:if="${user.id == null}" type="password"
												class="form-control" name="password" id="password"
												th:field="*{password}" required="required" minlength="6"
												maxlength="45"> <input
												th:unless="${user.id == null}" type="password"
												class="form-control" name="password" id="password"
												th:field="*{password}" minlength="6" maxlength="45">
										</div>
									</div>


									<div class="form-group row">
										<label for="password" class="col-sm-4 col-form-label">Quyền</label>
										<div class="col-sm-8">
											<div class="form-check" th:each="role : ${listRoles}">
												<input th:field="*{roles}" class="form-check-input"
													type="checkbox" th:value="${role.id}"> <label
													class="form-check-label" th:text="${role.name}"></label> -
												<small>[[${role.description}]]</small>
											</div>
										</div>
									</div>

									<div class="form-group row">
										<label for="password" class="col-sm-4 col-form-label">Cho phép</label>

										<div class="col-sm-8">
											<div class="form-check">
												<input th:field="*{enabled}"
													class="form-check-input position-static" type="checkbox"
													aria-label="...">
											</div>
										</div>

									</div>

									<div class="form-group row align-items-center">
										<label for="fileImage" class="col-sm-4 col-form-label">Hình ảnh</label>
										<div class="col-sm-8">
											<div class="row align-items-center">
												<input type="hidden" name="imageOld" th:field="*{photos}">
												<input style="width: 70%;" type="file"
													class="form-control-file" name="image" id="fileImage">
												<img th:if="${id == null}" alt="" style="width: 100px;"
													id="thumbnail" class="img-fluid simg-thumbnail"
													th:src="@{/images/default-user.png}" /> <img
													th:unless="${id == null}" id="thumbnail"
													style="width: 100px;" class="img-fluid simg-thumbnail"
													alt="avarta" th:src="@{${user.getPhotoImagePath()}}">
											</div>
										</div>
									</div>

									<div class="text-center">
										<input type="submit" class="btn btn-primary m-3" value="Save">
										<input type="button" class="btn btn-secondary" value="Cancel"
											id="buttonCancel">
									</div>
								</div>

							</form>
							<footer th:replace="fragments :: footer"></footer>
						</div>
					</div>

				</div>
			</div>
		</div>



		<div th:replace="modal_fragments :: modal_dialog"></div>

		
	</div>

	<script type="text/javascript">
		moduleURL = "[[@{/users}]]";
		
		
		/*function checkEmailUnique(form) {
			url = "[[@{/users/check_email}]]";

			id = $("#id").val();
			email = $("#email").val();
			csrf = $("input[name='_csrf']").val();

			params = {
				id : id,
				email : email,
				_csrf : csrf,
			};
			$.post(
					url,
					params,
					function(response) {
						if (response == "OK") {
							form.submit();
							return;
						} else if (response == "Duplicated") {
							//alert("There is another user having the email " + email);
							message = "Đã có nhân viên khác dùng email này "
									+ email;
							showModalDialog("Cảnh báo", message);
						} else {
							showModalDialog("Error",
									"Unknown reponse from server");
						}
					}).fail(function() {
				showModalDialog("Error", "Could not connect to the server");
			});

			return false;
		}*/
		
		$(document).ready(function() {
			error = $('#error').val();
			if (error !== ''){
				message = "Đã có nhân viên khác dùng email này "
					+ $('#email').val();
				showModalDialog("Cảnh báo", message);
			}
		});

		function showModalDialog(title, message) {
			$("#contentModelWarning").text(message);
			$("#modalTitle").text(title);
			$("#modalDialog").modal();
		}
	</script>
	<script type="text/javascript" th:src="@{/js/common_form.js}"></script>
</body>
</html>