<!DOCTYPE html>
<html>
<head th:fragment="page_header(title,remove)" th:remove="${remove}"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>[[${title}]] - [[${SITE_NAME}]]</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>


<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>

<script type="text/javascript"
	th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/style/styles.css}">

</head>

<body>
	<div th:fragment="header" class="container-fluid">

		<form name="logoutForm" th:hidden="true" method="post"
			th:action="@{/doLogout}">
			<input type="submit" value="Logout" />
		</form>

		<div class="row bg-secondary py-1 px-xl-5">
			<div class="col-lg-6 d-none d-lg-block">
				<div class="d-inline-flex align-items-center h-100">
					<a class="text-body mr-3" href="">About</a> <a
						class="text-body mr-3" href="">Contact</a> <a
						class="text-body mr-3" href="">Help</a> <a class="text-body mr-3"
						href="">FAQs</a>
				</div>
			</div>
			<div class="col-lg-6 text-center text-lg-right">
				<div class="d-inline-flex align-items-center">
					<div class="btn-group">
						<th:block sec:authorize="isAuthenticated()">
							<button type="button"
								class="btn btn-sm btn-light dropdown-toggle"
								data-toggle="dropdown">My Account</button>
							<div class="dropdown-menu dropdown-menu-right">
								<a href="javascript: logoutForm.submit();" class="dropdown-item"
									type="button">Logout</a> <a th:href="@{/customer/editProfile}"
									class="dropdown-item" type="button">Edit Profile</a>
							</div>
						</th:block>
						<th:block sec:authorize="isAuthenticated() == false">
							<a th:href="@{/register}" type="button"
								class="btn btn-sm btn-light">Register</a>

							<a th:href="@{/login}" type="button" class="btn btn-sm btn-light">Login</a>
						</th:block>

					</div>
					<div class="btn-group mx-2">
						<button type="button" class="btn btn-sm btn-light dropdown-toggle"
							data-toggle="dropdown">USD</button>
						<div class="dropdown-menu dropdown-menu-right">
							<button class="dropdown-item" type="button">EUR</button>
							<button class="dropdown-item" type="button">GBP</button>
							<button class="dropdown-item" type="button">CAD</button>
						</div>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-sm btn-light dropdown-toggle"
							data-toggle="dropdown">EN</button>
						<div class="dropdown-menu dropdown-menu-right">
							<button class="dropdown-item" type="button">FR</button>
							<button class="dropdown-item" type="button">AR</button>
							<button class="dropdown-item" type="button">RU</button>
						</div>
					</div>
				</div>
				<div class="d-inline-flex align-items-center d-block d-lg-none">
					<a href="" class="btn px-0 ml-2"> <i
						class="fas fa-heart text-dark"></i> <span
						class="badge text-dark border border-dark rounded-circle"
						style="padding-bottom: 2px;">0</span>
					</a> <a href="" class="btn px-0 ml-2"> <i
						class="fas fa-shopping-cart text-dark"></i> <span
						class="badge text-dark border border-dark rounded-circle"
						style="padding-bottom: 2px;">0</span>
					</a>
				</div>
			</div>
		</div>
		<div
			class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
			<div class="col-lg-4">
				<a href="" class="text-decoration-none"> <span
					class="h1 text-uppercase text-primary bg-dark px-2">Multi</span> <span
					class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Shop</span>
				</a>
			</div>
			<div class="col-lg-4 col-6 text-left">
				<form th:action="@{/search}" method="get">
					<div class="input-group">
						<input type="search" name="keyword" th:value="${keyword}"
							class="form-control" placeholder="Search for products">
						<div class="input-group-append">
							<button type="submit"
								class="input-group-text bg-transparent text-primary">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-lg-4 col-6 text-right">
				<div sec:authorize="isAuthenticated()">
					<button type="button" class="btn btn-sm btn-light dropdown-toggle"
						data-toggle="dropdown">[[${#authentication.principal.fullName}]]</button>
					<div class="dropdown-menu dropdown-menu-right">
						<a th:href="@{/customers/managementAccount}" class="dropdown-item"
							type="button">Management Account</a> <a
							href="javascript: logoutForm.submit();" class="dropdown-item"
							type="button">Logout</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:fragment="featured" class="container-fluid pt-5">
		<div class="row px-xl-5 pb-3">
			<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
				<div class="d-flex align-items-center bg-light mb-4"
					style="padding: 30px;">
					<h1 class="fa fa-check text-primary m-0 mr-3"></h1>
					<h5 class="font-weight-semi-bold m-0">Quality Product</h5>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
				<div class="d-flex align-items-center bg-light mb-4"
					style="padding: 30px;">
					<h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
					<h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
				<div class="d-flex align-items-center bg-light mb-4"
					style="padding: 30px;">
					<h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
					<h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
				<div class="d-flex align-items-center bg-light mb-4"
					style="padding: 30px;">
					<h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
					<h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
				</div>
			</div>
		</div>
	</div>

	<div th:fragment="navManagementAccount" class="collapse d-md-block row"
		id="bd-docs-nav">
		<p>Xin chào 0943932775</p>
		<img height="20px"
			src="//laz-img-cdn.alicdn.com/tfs/TB1Yvbxh8HH8KJjy0FbXXcqlpXa-208-40.png"
			data-spm-anchor-id="a2o4n.manage_account.0.i2.44216e88IacI7o">
		<nav class="bd-links" aria-label="Main navigation">

			<div class="bd-toc-item">
				<a class="bd-toc-link"
					th:href="@{/customers/managementAccount}"> Quản lý tài
					khoản </a>
			</div>

			<div class="pl-3 bd-toc-item">
				<a class="bd-toc-link"
					th:href="@{/customers/editProfile}"> Thông tin cá
					nhân </a>
			</div>

			<div class="pl-3 bd-toc-item">
				<a class="bd-toc-link"
					th:href="@{/addresses}"> Số địa chỉ </a>
			</div>

			<div class="bd-toc-item">
				<a class="bd-toc-link"
					href="/docs/4.6/getting-started/introduction/"> Đơn hàng của
					tôi </a>
			</div>

			<div class="pl-3 bd-toc-item">
				<a class="bd-toc-link"
					href="/docs/4.6/getting-started/introduction/"> Đơn hàng đã đặt
				</a>
			</div>

			<div class="pl-3 bd-toc-item">
				<a class="bd-toc-link"
					href="/docs/4.6/getting-started/introduction/"> Đơn hàng đã hủy
				</a>
			</div>

		</nav>
	</div>

	<div th:fragment="footer"
		class="container-fluid bg-dark text-secondary mt-5 pt-5">
		<div class="row px-xl-5 pt-5">
			<div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
				<h5 class="text-secondary text-uppercase mb-4">Get In Touch</h5>
				<p class="mb-4">No dolore ipsum accusam no lorem. Invidunt sed
					clita kasd clita et et dolor sed dolor. Rebum tempor no vero est
					magna amet no</p>
				<p class="mb-2">
					<i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street,
					New York, USA
				</p>
				<p class="mb-2">
					<i class="fa fa-envelope text-primary mr-3"></i>info@example.com
				</p>
				<p class="mb-0">
					<i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890
				</p>
			</div>
			<div class="col-lg-8 col-md-12">
				<div class="row">
					<div class="col-md-4 mb-5">
						<h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
						<div class="d-flex flex-column justify-content-start">
							<a class="text-secondary mb-2" href="#"><i
								class="fa fa-angle-right mr-2"></i>Home</a> <a
								class="text-secondary mb-2" href="#"><i
								class="fa fa-angle-right mr-2"></i>Our Shop</a> <a
								class="text-secondary mb-2" href="#"><i
								class="fa fa-angle-right mr-2"></i>Shop Detail</a> <a
								class="text-secondary mb-2" href="#"><i
								class="fa fa-angle-right mr-2"></i>Shopping Cart</a> <a
								class="text-secondary mb-2" href="#"><i
								class="fa fa-angle-right mr-2"></i>Checkout</a> <a
								class="text-secondary" href="#"><i
								class="fa fa-angle-right mr-2"></i>Contact Us</a>
						</div>
					</div>
					<div class="col-md-4 mb-5">
						<h5 class="text-secondary text-uppercase mb-4">My Account</h5>
						<div class="d-flex flex-column justify-content-start">
							<a class="text-secondary mb-2" href="#"><i
								class="fa fa-angle-right mr-2"></i>Home</a> <a
								class="text-secondary mb-2" href="#"><i
								class="fa fa-angle-right mr-2"></i>Our Shop</a> <a
								class="text-secondary mb-2" href="#"><i
								class="fa fa-angle-right mr-2"></i>Shop Detail</a> <a
								class="text-secondary mb-2" href="#"><i
								class="fa fa-angle-right mr-2"></i>Shopping Cart</a> <a
								class="text-secondary mb-2" href="#"><i
								class="fa fa-angle-right mr-2"></i>Checkout</a> <a
								class="text-secondary" href="#"><i
								class="fa fa-angle-right mr-2"></i>Contact Us</a>
						</div>
					</div>
					<div class="col-md-4 mb-5">
						<h5 class="text-secondary text-uppercase mb-4">Newsletter</h5>
						<p>Duo stet tempor ipsum sit amet magna ipsum tempor est</p>
						<form action="">
							<div class="input-group">
								<input type="text" class="form-control"
									placeholder="Your Email Address">
								<div class="input-group-append">
									<button class="btn btn-primary">Sign Up</button>
								</div>
							</div>
						</form>
						<h6 class="text-secondary text-uppercase mt-4 mb-3">Follow Us</h6>
						<div class="d-flex">
							<a class="btn btn-primary btn-square mr-2" href="#"><i
								class="fab fa-twitter"></i></a> <a
								class="btn btn-primary btn-square mr-2" href="#"><i
								class="fab fa-facebook-f"></i></a> <a
								class="btn btn-primary btn-square mr-2" href="#"><i
								class="fab fa-linkedin-in"></i></a> <a
								class="btn btn-primary btn-square" href="#"><i
								class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row border-top mx-xl-5 py-4"
			style="border-color: rgba(256, 256, 256, .1) !important;">
			<div class="col-md-6 px-xl-0">
				<p class="mb-md-0 text-center text-md-left text-secondary">
					[[${COPY_RIGHT}]]</p>
			</div>
			<div class="col-md-6 px-xl-0 text-center text-md-right">
				<img class="img-fluid" src="img/payments.png" alt="">
			</div>
		</div>
	</div>

	<a class="page-link"
		th:fragment="paging_link(moduleURL, numPage, pageLabel)"
		th:href="@{${moduleURL}+'/page/'+${numPage}+${catId!=null ? '&catId='+catId : ''}}">[[${pageLabel}]]</a>

	<div th:fragment="pagination(moduleURL, entityName)" th:remove="tag"
		class="container-fluid">
		<div class="text-center d-flex" th:if="${totalItems > 0}"
			style="justify-content: space-between;">
			<span>Showing [[${entityName}]] # [[${startCount}]] to
				[[${endCount}]] of [[${totalItems}]]</span>

			<nav>
				<ul class="pagination justify-content-center">
					<li
						th:class="${currentPage != 1 ? 'page-item ' : 'page-item disabled'}">
						<a th:replace="fragments :: paging_link(${moduleURL}, 1, 'first')"></a>
					</li>
					<li
						th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">

						<a
						th:replace="fragments :: paging_link(${moduleURL}, ${currentPage-1},'Previous')"></a>
					</li>

					<li
						th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
						th:each="i : ${#numbers.sequence(1, totalPages)}"><a
						th:replace="fragments :: paging_link(${moduleURL}, ${i},${i})"></a></li>

					<li
						th:class="${currentPage < totalPages ? 'page-item ' : 'page-item disabled'}">
						<a
						th:replace="fragments :: paging_link(${moduleURL}, ${currentPage+1},'Next')"></a>
					</li>

					<li
						th:class="${currentPage != totalPages ? 'page-item ' : 'page-item disabled'}">
						<a
						th:replace="fragments :: paging_link(${moduleURL}, ${totalPages},'last')"></a>
					</li>
				</ul>
			</nav>
		</div>
		<div th:unless="${totalItems > 0}" class="text-center">
			<span>No [[${entityName}]] found</span>
		</div>
	</div>
</body>
</html>