<!DOCTYPE html>
<html>
<head th:replace="fragments :: page_header('Shope', 'none')"></head>
<body>
	<div th:replace="fragments :: header"></div>
	<div th:replace="navbar :: navbar"></div>

	<div class="container">
		<div class="row">
			<div class="col-2">
				<div th:replace="fragments :: navManagementAccount"></div>
			</div>

			<div class="col-10">
				<div class="text-center">
					<h1 class="h4 text-gray-900 mb-4">Thêm địa chỉ</h1>
				</div>
				
				<div th:if="${message != null}"
						class="alert alert-success text-center" th:text="${message}">
						
				</div>
				
				
				<th:block th:if="${message != null}"><input type="hidden" id="stateHidden" th:value="${address.state.name}"></th:block>
				<th:block th:if="${address != null && address.state != null}"><input type="hidden" id="stateHidden" th:value="${address.state.name}"></th:block>
				
				
				<form class="user" th:action="@{/addresses/save}" method="post" th:object="${address}">
					<input type="hidden" th:field="*{id}">
					<input type="hidden" th:field="*{defaultAddress}">
					
					<div class="row">
						<div class="col-md-6 form-group">
							<label>Tên</label> <input class="form-control"
								required="required" maxlength="45" minlength="2" type="text"
								th:field="*{firstName}" placeholder="John">
						</div>
						<div class="col-md-6 form-group">
							<label>Họ</label> <input class="form-control"
								required="required" maxlength="45" minlength="2" type="text"
								placeholder="Doe" th:field="*{lastName}">
						</div>
						
						<div class="col-md-6 form-group">
							<label>Địa chỉ 1</label> <input class="form-control"
								required="required" maxlength="64" minlength="3"
								th:field="*{addressLine1}" type="text" placeholder="123 Street">
						</div>

						<div class="col-md-6 form-group">
							<label>Địa chỉ 2</label> <input class="form-control"
								maxlength="64" minlength="3" th:field="*{addressLine2}"
								type="text" placeholder="123 Street">
						</div>
						<div class="col-md-6 form-group">
							<label>Quốc gia</label> <select class="custom-select"
								id="country" name="country">
								
								<option value="0">Chọn quốc gia</option>
								<th:block th:each="con : ${listCountry}">
									<option th:if="*{id != null}" th:selected="${address.state.country.id == con.id}" th:value="${con.id}">[[${con.name}]]</option>
									<option th:unless="*{id != null}" th:value="${con.id}">[[${con.name}]]</option>
								</th:block>
							</select>
						</div>
						<div class="col-md-6 form-group">
							<label>City</label> <input class="form-control" type="text"
								maxlength="45" minlength="2" th:field="*{city}"
								placeholder="New York">
						</div>
						<div class="col-md-6 form-group">
							<label>Bảng/Tỉnh:</label> <select class="custom-select" 
								th:field="*{state}">
									
								</select>
						</div>
						
						<div class="col-md-6 form-group">
							<label>Số điện thoại</label> <input class="form-control"
								required="required" maxlength="15" minlength="8"
								th:field="*{phoneNumber}" type="tel" placeholder="+123 456 789">
						</div>
						<div class="col-md-6 form-group">
							<label>ZIP Code</label> <input class="form-control"
								maxlength="10" minlength="2" th:field="*{postalCode}"
								type="text" placeholder="2011">
						</div>
						
					</div>
				<button type="submit" class="btn btn-primary btn-user btn-block">
					Save</button>
				</form>
			</div>




		</div>
	</div>
	
	<th:block th:each="state :${listState}">
		<input name="nameStates" type="hidden" th:value="${state.name}">
		<input name="parentId" type="hidden" th:value="${state.country.id}">
		<input name="statesId" type="hidden" th:value="${state.id}">
	</th:block>
	
	
	


	<div th:replace="fragments :: footer"></div>

	<!-- Back to Top -->
	<a href="#" class="btn btn-primary back-to-top"><i
		class="fa fa-angle-double-up"></i></a>

	<script type="text/javascript">
	$(document)
	.ready(
			function() {
				
				nameStatesBycontry = [];
				statesId = [];

				$("input[name=nameStates]").each(function() {
					nameStatesBycontry.push($(this).val());
				});

				$("input[name=statesId]").each(function() {
					statesId.push($(this).val());
				});
				conceptName = $('#country').find(":selected").val();
				stateHidden = $('#stateHidden').val();
				
				
				if (conceptName != 0) {
					html = "";
					countStateByCountry = 0;
					$("input[name=parentId]").each(function(index) {
						state = $(this);
						if (conceptName == state.val()) {
							selectedState = stateHidden ==  nameStatesBycontry[index];
							html += `<option  value="${statesId[index]}">${nameStatesBycontry[index]}</option>`;
							
						}
					});
					
					$('#state').html(html);
					
					$('#state').children().each(function(){
						st = $(this);
						if (st.text() === stateHidden){
							st.prop('selected', true);
							return false;
						}
					});
				}
				

				$('#country')
						.change(
								function() {
									con = $(this);
									if (con.val() == 0) {
										$('#state').empty();
										return;
									}
									html = "";
									countStateByCountry = 0;
									$("input[name=parentId]")
											.each(
													function(index) {
														state = $(this);
														if (con.val() == state.val()) {
															html += `<option value="${statesId[index]}">${nameStatesBycontry[index]}</option>`;
															$(
																	'#state')
																	.html(
																			html);
															countStateByCountry++;
														}
													});
									if (countStateByCountry == 0) {
										$('#state').empty();
									}
								});
			})
	</script>
	<script type="text/javascript" th:src="@{/js/main.js}"></script>


</body>
</html>