<!DOCTYPE html>
<html>
<header
	th:replace="fragments :: page_header('Customer - Shopme Admin Control Panel', 'none')"></header>
<body id="page-top">
	<div id="wrapper" class="container-fuild">
		<nav th:replace="nav :: menu"></nav>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<nav th:replace="nav :: header_customrer"></nav>

				<div class="container-fluid">

					<h1 class="h3 mb-2 text-gray-800">Quản lý khách hàng</h1>

					<div th:if="${message != null}"
						class="alert alert-success text-center" th:text="${message}"></div>

					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Bảng dữ liệu</h6>
						</div>

						<div class="card-body">

							<div class="row">
								<div class="col-6">
									
								</div>
								<div class="col-6">
									
									<!--  -->
									<form class="d-flex justify-content-end" th:action="@{'/customers/page/1'}" id="formFilter">
										<input type="hidden" name="sortField" th:value="${sortField}">
										<input type="hidden" name="sortDir" th:value="${sortDir}">
										<div class="form-row"
											style="justify-content: end;">
											<div class="col-auto">
												<label class="sr-only" for="inlineFormInputGroup">Từ khóa</label>
												<div class="input-group mb-2">
													<div class="input-group-prepend">
														<div class="input-group-text">Từ khóa</div>
													</div>
													<!-- th:value="${keyword}" -->
													<input name="keyword"  type="search" th:value="${keyword}"
														class="form-control" id="inlineFormInputGroup"
														placeholder="Keyword">
												</div>
											</div>
											<div class="col-auto">
												<button type="submit" class="btn btn-primary mb-2">
													<i class="fa-solid fa-magnifying-glass"></i>
												</button>
											</div>

											<div class="col-auto">
												<button class="btn btn-secondary mb-2" onclick="resetForm()"
													value="Clear">
													<i class="fa-solid fa-eraser"></i>
												</button>
											</div>

										</div>
									</form>
									<!--  -->

									
								</div>
							</div>
							<div class="table-responsive">
								<table id="dataTable" class="table table-bordered" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th
												th:replace="fragments :: column_link('/customers', 'id','ID', 'none')"></th>
											</th>
											
											<th
												th:replace="fragments :: column_link('/customers', 'firstName','Tên', 'none')"></th>
											</th>
											
											<th
												th:replace="fragments :: column_link('/customers', 'lastName','Họ', 'none')"></th>
											</th>
											
											<th
												th:replace="fragments :: column_link('/customers', 'email','Email', 'none')"></th>
											</th> 
											
											<th>Thành phố</th>
											
											<th>Bang/Tỉnh</th>
											
											<th>Quốc gia</th>

											<th>Cho phép</th>
											<th></th>
										</tr>
									</thead>

									<tbody>
										<tr th:each="customer : ${listCustomers}">
											<td>[[${customer.id}]]</td>
											<td>[[${customer.firstName}]]</td>
											<td>[[${customer.lastName}]]</td>
											<td>[[${customer.email}]]</td>
											<td>[[${customer.city}]]</td>
											<td>[[${customer.state}]]</td>
											<td>[[${customer.country.name}]]</td>
											<div
												th:replace="fragments :: status(${customer.enabled}, '/customers/' + ${customer.id}, 'customer')"></div>
											
											<td class="d-flex align-items-center"><a
												class="link-detail"
												th:href="@{'/customers/detail/' + ${customer.id}}"
												title="View details of this customer"> <i
													class="fa-solid fa-circle-info icon-gray"></i></a> &nbsp;
												
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div th:replace="fragments :: pagination('/customers', 'customer')"></div>
						</div>
						<footer th:replace="fragments :: footer"></footer>
					</div>


				</div>

				<div class="modal fade" id="comfirmModal" tabindex="-1"
					role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="modalTitle">Delete Comfirmation</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<p id="contentComfirmModal"></p>
							</div>
							<div class="modal-footer">
								<a href="" class="btn btn-success" id="yesButton">Yes</a>

								<button type="button" class="btn btn-danger"
									data-dismiss="modal">No</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade " id="detailModal" tabindex="-1">
		<div class="modal-dialog modal-xl">
			<div class="modal-content"></div>
		</div>
	</div>

	<script type="text/javascript">
		modulUrl = "[[@{products}]]"
		$(document).ready(
				function() {
					$('#dropdownCat').on("change", function(){
						$('#formFilter').submit();
					})
					$('.link-detail').on(
							"click",
							function(e) {
								e.preventDefault();
								linkDetail = $(this).attr('href');

								$("#detailModal").modal('show').find(
										'.modal-content').load(linkDetail);

							})

					
				});

		function resetForm(id) {
			window.location = "[[@{/products}]]";
		}
	</script>
</body>
</html>