<!DOCTYPE html>
<html>
<head th:fragment="page_header(title,remove)" th:remove="${remove}"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>[[${title}]]</title>

<link rel="stylesheet" type="text/css" th:href="@{/style/styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/style/index.css}">

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
	<th th:fragment="column_link(module, fieldName, columnLabel, removeTag)"
		th:remove="${removeTag}"><a class="custom-a"
		th:href="@{${module} + '/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortDir=' + 
		${sortField != fieldName ? sortDir : revertSortDir} + ${keyword!=null ? '&keyword='+keyword : ''}}">[[${columnLabel}]]</a>

		<span th:if="${sortField == fieldName}"
		th:class="${sortDir == 'asc'? 'fa-solid fa-sort-up' : 'fa-solid fa-sort-down'}">
	</span></th>

	<td th:fragment="status(status, moduleURL, entityName)"
		class="text-center"><a th:if="${status}" class="icon-green" id="linkStatus" onclick="confirmStatus()"
		th:href="@{${moduleURL} + '/enabled/false'}" style="font-size: 25px;"><i
			title="Disiable this Category" class="fa-solid fa-circle-check"></i></a>
		<a th:unless="${status}" title="Enable this Category"
		class="icon-gray" th:href="@{${moduleURL} + '/enabled/true'}"
		style="font-size: 25px;"><i class="fa-solid fa-circle-check"></i></a>
	</td>
	
	<td th:fragment="statusShipping(status, moduleURL, entityName)"
		class="text-center"><a th:if="${status}" class="icon-green" id="linkStatus" onclick="confirmStatus()"
		th:href="@{${moduleURL} + '/enabled/false'}" style="font-size: 25px;"><i
			title="Disiable this Category" class="fa-solid fa-hand-holding-dollar"></i></a>
		<a th:unless="${status}" title="Enable this Category"
		class="icon-gray" th:href="@{${moduleURL} + '/enabled/true'}"
		style="font-size: 25px;"><i class="fa-solid fa-hand-holding-dollar"></i></a>
	</td>
	

	<div th:fragment="update_delete(nameModule, id, name)" class="text-center">
		<div class="d-flex">
			<a th:href="@{${nameModule} + '/edit/' + ${id}}" title="update"
				class=""><i class="fa-solid fa-pen-to-square icon-gray"></i></a>
			&nbsp; <a th:href="@{${nameModule} + '/delete/' + ${id}}"
				class="link-delete" th:userId="${id}"
				th:lastNameUser="${name}"><i
				class="fa-solid fa-trash icon-gray"></i></a>
		</div>
	</div>
	
	

	<a class="page-link"
		th:fragment="paging_link(moduleURL, numPage, pageLabel)"
		th:href="@{${moduleURL}+'/page/'+${numPage}+'?sortField='+${sortField}+'&sortDir='+${sortDir} + ${keyword!=null ? '&keyword='+keyword : ''} +${catId!=null ? '&catId='+catId : ''}}">[[${pageLabel}]]</a>

	<div th:fragment="pagination(moduleURL, entityName)" th:remove="tag" class="container-fluid">
		<div class="text-center d-flex" th:if="${totalItems > 0}" style="justify-content: space-between;">
			<span>Showing [[${entityName}]] # [[${startCount}]] to
				[[${endCount}]] of [[${totalItems}]]</span>

			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li
						th:class="${currentPage != 1 ? 'page-item ' : 'page-item disabled'}">
						<a th:replace="fragments :: paging_link(${moduleURL}, 1, 'first')"></a>
					</li>
					<li
						th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">

						<a
						th:replace="fragments :: paging_link(${moduleURL}, ${currentPage-1},'Previous')"></a>
					</li>

					<li
						th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
						th:each="i : ${#numbers.sequence(1, totalPages)}"><a
						th:replace="fragments :: paging_link(${moduleURL}, ${i},${i})"></a></li>

					<li
						th:class="${currentPage < totalPages ? 'page-item ' : 'page-item disabled'}">
						<a
						th:replace="fragments :: paging_link(${moduleURL}, ${currentPage+1},'Next')"></a>
					</li>

					<li
						th:class="${currentPage != totalPages ? 'page-item ' : 'page-item disabled'}">
						<a
						th:replace="fragments :: paging_link(${moduleURL}, ${totalPages},'last')"></a>
					</li>
				</ul>
			</nav>
		</div>
		<div th:unless="${totalItems > 0}" class="text-center">
			<span>No [[${entityName}]] found</span>
		</div>
	</div>

	<div th:fragment="search_form(moduleURL)">
		<form th:action="@{${moduleURL}+'/page/1'}" id="formFilter">
			<input type="hidden" name="sortField" th:value="${sortField}">
			<input type="hidden" name="sortDir" th:value="${sortDir}">
			<div class="form-row align-items-center" style="justify-content: end;">
				<div class="col-auto">
					<label class="sr-only" for="inlineFormInputGroup">Keyword</label>
					<div class="input-group mb-2">
						<div class="input-group-prepend">
							<div class="input-group-text">Keyword</div>
						</div>
						<input name="keyword" th:value="${keyword}" type="search"
							class="form-control" id="inlineFormInputGroup"
							placeholder="Keyword">
					</div>
				</div>
				<div class="col-auto">
					<button type="submit" class="btn btn-primary mb-2">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</div>

				<div class="col-auto">
					<button class="btn btn-secondary mb-2" onclick="resetForm()"
						value="Clear">
						<i class="fa-solid fa-eraser"></i>
					</button>
				</div>

			</div>
		</form>
	</div>
	
	


	<footer th:fragment="footer" class="text-center m-1">
		<p>Shopme Control Panel - Copyright &copy; Shopme</p>
	</footer>
</body>
</html>