<!DOCTYPE html>
<html>
<header th:replace="fragments :: page_header(${pageTitle}, 'none')"></header>
<body id="page-top">
	<div id="wrapper" class="container-fuild">
		<nav th:replace="nav :: menu"></nav>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<nav th:replace="nav :: header_customrer"></nav>

				<div class="container-fluid">
					<h1 class="h3 mb-2 text-gray-800">Quản lý danh mục</h1>
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">[[${pageTitle}]]</h6>
						</div>

						<div class="card-body">
							<form class="container" th:action="@{/categories/save}"
								method="post" 
								th:object="${category}" style="max-width: 700px;"
								enctype="multipart/form-data">
								<!--  onsubmit="return checkUnique(this)" -->
								<input type="hidden" id="error" th:value="${error_name == null ? '' : error_name}">
								
								<input type="hidden" th:field="*{id}">
								<div class="border rounded p-3">
									<div class="form-group row">
										<label for="name" class="col-sm-4 col-form-label">Tên danh mục:</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" th:field="*{name}"
												required="required" minlength="3" maxlength="128">
										</div>
									</div>

									<div class="form-group row">
										<label for="alias" class="col-sm-4 col-form-label">Tên gọi khác</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" th:field="*{alias}"
												required="required" minlength="2" maxlength="45">
										</div>
									</div>

									<div class="form-group row">
										<label for="alias" class="col-sm-4 col-form-label">Cha</label>
										<div class="col-sm-8">
											<select class="form-control" th:field="*{parent}">
												<option value="0">[No Parent]</option>
												<th:block th:each="cat : ${listCategories}">
													<option th:value="${cat.id}">[[${cat.name}]]</option>
												</th:block>
											</select>
										</div>
									</div>

									<div class="form-group row">
										<label for="enable" class="col-sm-4 col-form-label">Cho phép</label>
										<div class="col-sm-8">
											<div class="form-check">
												<input th:field="*{enable}"
													class="form-check-input position-static" type="checkbox"
													aria-label="...">
											</div>
										</div>
									</div>

									<div class="form-group row align-items-center">
										<label for="fileImage" class="col-sm-4 col-form-label">Hình ảnh</label>
										<div class="col-sm-8">
											<div class="row align-items-center">
												<input type="hidden" th:field="*{image}"> <input
													th:if="${category.id == null}" style="width: 70%;"
													type="file" class="form-control-file" name="fileImage"
													required="required" id="fileImage"> <input
													th:unless="${category.id == null}" style="width: 70%;"
													type="file" class="form-control-file" name="fileImage">
												<img alt="" style="width: 100px;" id="thumbnail"
													th:src="@{*{imagePath}}" class="img-fluid simg-thumbnail" />

											</div>
										</div>
									</div>

									<div class="text-center">
										<input type="submit" class="btn btn-primary m-3" value="Save">
										<input type="button" class="btn btn-secondary" value="Cancel"
											id="buttonCancel">
									</div>

								</div>

							</form>
							<footer th:replace="fragments :: footer"></footer>
						</div>
					</div>

				</div>
			</div>
		</div>



		<div th:replace="modal_fragments :: modal_dialog"></div>


	</div>


	<!--  -->


	<script type="text/javascript">
		moduleURL = "[[@{/categories}]]";
		
		$(document).ready(function() {
			error = $('#error').val();
			if (error !== ''){
				message = "Danh mục đã tồn tại "
					+ $('#name').val();
				showModalDialog("Cảnh báo", message);
			}
		});

		
		/*function checkUnique(form) {
			url = "[[@{/categories/check_unique}]]";
			catId = $("#id").val();
			catName = $("#name").val();
			catAlias = $("#alias").val();
			csrf = $("input[name='_csrf']").val();

			params = {
				id : catId,
				name : catName,
				alias : catAlias,
				_csrf : csrf,
			};
			$
					.post(
							url,
							params,
							function(respone) {
								if (respone == "OK") {
									form.submit();
									return true;
								} else if (respone == "DuplicationName") {
									message = "There is another category having the name "
											+ catName;
									showModalDialog("Warning", message);
								} else if (respone == "DuplicationAlias") {
									message = "There is another category having the alias "
											+ catAlias;
									showModalDialog("Warning", message);
								} else {
									showModalDialog("Error",
											"Unknown reponse from server");
								}
							}).fail(
							function() {
								showModalDialog("Error",
										"Could not connect to the server");
							});
			return false;
		}*/

		function showModalDialog(title, message) {
			$("#contentModelWarning").text(message);
			$("#modalTitle").text(title);
			$("#modalDialog").modal();
		}
	</script>
	<script type="text/javascript" th:src="@{/js/common_form.js}"></script>
</body>
</html>