<!DOCTYPE html>
<html>
<body>
	<div th:fragment="content" remove="tag" id="divProductDetails">
		<th:block th:each="detailt,status : *{productDetailts}">
			<div class="form-inline" th:id="'divDetail' + ${status.index}">
				<input type="hidden" name="detailIDs" th:value="${detailt.id}">
				<label class="m-3">Tên:</label> <input type="text"
					class="form-control w-25" name="detailNames" maxlength="255"
					th:value="${detailt.name}">
	
				<label class="m-3">Giá trị</label> <input type="text"
					class="form-control w-25" name="detailValues" maxlength="255"
					th:value="${detailt.value}">
	
				<a class="btn fas fa-times-circle fa-2x icon-dark"
					th:href="'javascript: removeDetailSectionById(\'divDetail' + ${status.index}+'\')'"
					title = "Remove this detail" ></a>
			</div>
		</th:block>
	
		<div class="form-inline" th:id="'divDetail'+${#lists.size(product.productDetailts)}">
			<input type="hidden" name="detailIDs" value="0">
			<label class="m-3">Tên:</label> <input type="text"
				class="form-control w-25" name="detailNames" maxlength="255">

			<label class="m-3">Giá trị:</label> <input type="text"
				class="form-control w-25" name="detailValues" maxlength="255">

			<a class="btn fas fa-times-circle fa-2x icon-dark"
				th:href="'javascript: removeDetailSectionById(\'divDetail' + ${#lists.size(product.productDetailts)} + '\')'"
				title = "Remove thisdetail" ></a>
		</div>
	</div>
</body>
</html>