<!DOCTYPE html>
<html>
<head>
<head th:replace="fragments :: page_header(${pageTitle}, 'tag')"></head>
<link rel="stylesheet" type="text/css"
	th:href="@{/richtext/richtext.min.css}">
<script type="text/javascript"
	th:src="@{/richtext/jquery.richtext.min.js}"></script>
</head>
<body id="page-top">

	<div id="wrapper" class="container-fuild">
		<nav th:replace="nav :: menu"></nav>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<nav th:replace="nav :: header_customrer"></nav>

				<div class="container-fluid">
					<h1 class="h3 mb-2 text-gray-800">Quản lý sản phẩm</h1>
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">[[${pageTitle}]]</h6>
						</div>

						<div class="card-body">
							<form class="container-fuild" th:action="@{/products/save}"
								method="post" th:object="${product}"
								
								enctype="multipart/form-data">
								<input type="hidden" id="error" th:value="${error_name == null ? '' : error_name}">
								<!-- Nav tabs onsubmit="return checkUnique(this)"-->
								<ul class="nav nav-tabs" id="myTab" role="tablist">
									<li class="nav-item" role="presentation">
										<button class="nav-link active" data-toggle="tab"
											data-target="#overview" type="button">Tổng quan</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" data-toggle="tab"
											data-target="#description" type="button" role="tab">Mô tả</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" data-toggle="tab"
											data-target="#images" type="button" role="tab">Hình ảnh</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" id="messages-tab" data-toggle="tab"
											data-target="#details" type="button" role="tab">Chi tiết</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" id="messages-tab" data-toggle="tab"
											data-target="#shipping" type="button" role="tab">Vận chuyển</button>
									</li>
								</ul>

								<!-- Tab panes -->
								<div class="tab-content">
									<div class="tab-pane active p-3" id="overview" role="tabpanel">
										<div th:replace="/products/product_overview :: content"></div>
									</div>

									<div class="tab-pane" id="description" role="tabpanel">
										<div th:replace="/products/product_description :: content"></div>
									</div>


									<div class="tab-pane" id="images" role="tabpanel">
										<div th:replace="/products/product_images :: content"></div>
									</div>

									<div class="tab-pane" id="details" role="tabpanel">
										<div th:replace="/products/product_details :: content"></div>
										<div>
											<input type="button" class="btn btn-secondary"
												value="Thêm chi tiết" 
												onclick="addNextDetailsection()">
										</div>
									</div>

									<div class="tab-pane" id="shipping" role="tabpanel">
										<div th:replace="/products/product_shipping :: content"></div>
									</div>
								</div>

								<div class="text-center">
									<input type="submit" class="btn btn-primary m-3" value="Save">
									<input type="button" class="btn btn-secondary" value="Cancel"
										id="buttonCancel">
								</div>
							</form>
							<footer th:replace="fragments :: footer"></footer>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div th:replace="modal_fragments :: modal_dialog"></div>
	</div>

	<script type="text/javascript">
		moduleURL = "[[@{/products}]]";
		brandModuleURL = "[[@{/brands}]]";
		productDefault = "[[@{/images/default-product.png}]]";
		urlCheckUniqueName = "[[@{/products/check_name}]]";
		
		$(document).ready(function() {
			error = $('#error').val();
			if (error !== ''){
				message = "Tên sản phẩm đã tồn tài: "
					+ $('#name').val();
				showModalDialog("Cảnh báo", message);
			}
		});
	</script>
	<script type="text/javascript" th:src="@{/js/product_form.js}"></script>
	<script type="text/javascript" th:src="@{/js/common_form.js}"></script>
</body>
</html>