<!DOCTYPE html>
<html>
<head th:replace="fragments :: page_header('Shope', 'none')"></head>
<body>
	<div th:replace="fragments :: header"></div>
	<div th:replace="navbar :: navbar"></div>

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                	<a class="breadcrumb-item text-dark" th:href="@{/}">Home</a>
                	<th:block th:each="cat : ${listCatParents}">
	                    <a class="breadcrumb-item text-dark" 
	                    	th:href="@{'/cat/' + ${cat.alias}}">[[${cat.name}]]</a>
                	</th:block>
                    <!-- 
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>-->
                    
                    <span class="breadcrumb-item active">[[${categoryCurrent.name}]]</span> 
                    
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    
    <div class="container-fluid">
        <div class="row px-xl-5 pb-3">
        	<th:block th:each="cat : ${children}">
	            <div th:if="${cat.enable}" class="col-lg-2 col-md-2 col-sm-6 pb-1">
	                <a class="text-decoration-none" 
	                	th:href="@{'/cat/'+${cat.alias}}">
	                    <div class="cat-item d-flex align-items-center mb-4">
	                        <div class="overflow-hidden" style="width: 50px; height: 50px;">
	                            <img style="height: 100%" class="img-fluid" th:src="@{${cat.imagePath}}" alt="">
	                        </div>
	                        <div class="flex-fill pl-3">
	                            <h6>[[${cat.name}]]</h6>
	                        </div>
	                    </div>
	                </a>
	            </div>
            </th:block>
        </div>
    </div>
    
    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Shop Product Start -->
            <div class="col-lg-12 col-md-8">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div>
                                <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                                <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                            </div>
                            <div class="ml-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Sorting</button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Latest</a>
                                        <a class="dropdown-item" href="#">Popularity</a>
                                        <a class="dropdown-item" href="#">Best Rating</a>
                                    </div>
                                </div>
                                <div class="btn-group ml-2">
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Showing</button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">10</a>
                                        <a class="dropdown-item" href="#">20</a>
                                        <a class="dropdown-item" href="#">30</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <th:block th:each="product : ${listProducts}">
	                    <div class="col-lg-3 col-md-6 col-sm-6 pb-1">
	                        <div class="product-item bg-light mb-4">
	                            <div class="product-img position-relative overflow-hidden">
	                                <img class="img-fluid" th:src="@{${product.mainImagePath}}" alt="">
	                                <div class="product-action">
	                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
	                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
	                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
	                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
	                                </div>
	                            </div>
	                            <div class="text-center py-4">
	                                <a class="h6 text-decoration-none text-truncate subNameProduct" th:href="@{'/product_detail/'+${product.alias}}">[[${product.name}]]</a>
	                                <div class="d-flex align-items-center justify-content-center mt-2">
	                                    <h5>
	                                    	<span th:if="${CURRENCY_SYMBOL_POSITION=='before'}">[[${CURRENCY_SYMBOL}]] [[${#numbers.formatDecimal(product.priceDiscountPercent,1,2)}]]</span>
	                                    	<span th:unless="${CURRENCY_SYMBOL_POSITION=='before'}">[[${#numbers.formatDecimal(product.priceDiscountPercent,1,THOUSANDS_POIINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]][[${CURRENCY_SYMBOL}]]</span>
	                                    </h5>
	                                    <h6 th:if="${product.discountPercent > 0}" class="text-muted ml-2">
	                                    	<del th:if="${CURRENCY_SYMBOL_POSITION=='before'}">[[${CURRENCY_SYMBOL}]] [[${#numbers.formatDecimal(product.price,1,THOUSANDS_POIINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]][[${CURRENCY_SYMBOL}]]</del>
	                                    	<del th:unless="${CURRENCY_SYMBOL_POSITION=='before'}">[[${#numbers.formatDecimal(product.price,1,THOUSANDS_POIINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]][[${CURRENCY_SYMBOL}]]</del>
	                                    </h6>
	                                </div>
	                                <div class="d-flex align-items-center justify-content-center mb-1">
	                                    <small class="fa fa-star text-primary mr-1"></small>
	                                    <small class="fa fa-star text-primary mr-1"></small>
	                                    <small class="fa fa-star text-primary mr-1"></small>
	                                    <small class="fa fa-star text-primary mr-1"></small>
	                                    <small class="fa fa-star text-primary mr-1"></small>
	                                    <small>(99)</small>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
                    </th:block>
                    <div class="col-12">
                        <div th:replace="fragments :: pagination(${'/cat/' + alias}, 'Product')"></div>
                    </div>
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->
	
	
	<div th:replace="fragments :: footer"></div>

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

	<script type="text/javascript" th:src="@{/js/main.js}"></script>

	
	<script type="text/javascript">
		$(document).ready(function() {
			$(".subNameProduct").each(function(){
				nameProduct = $(this).text();
				if(nameProduct.length > 40){
					$(this).text(nameProduct.substring(0,40) + '...');
				}
			});
		})
	</script>
	
</body>
</html>