<!DOCTYPE html>
<html>
<head>
<head th:replace="fragments :: page_header(${pageTitle}, 'tag')"></head>
<link rel="stylesheet" type="text/css"
	th:href="@{/richtext/richtext.min.css}">
<script type="text/javascript"
	th:src="@{/richtext/jquery.richtext.min.js}"></script>
</head>
<body id="page-top">

	<div id="wrapper" class="container-fuild">
		<nav th:replace="nav :: menu"></nav>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<nav th:replace="nav :: header_customrer"></nav>

				<div class="container-fluid">
					<h1 class="h3 mb-2 text-gray-800">Quản lý cài đặt</h1>
					<div th:if="${message != null}"
						class="alert alert-success text-center" th:text="${message}"></div>
					<div class="card shadow mb-4">
						<div class="card-header py-3"></div>

						<div class="card-body">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" id="myTab" role="tablist">
								<li class="nav-item" role="presentation">
									<button class="nav-link active" data-toggle="tab"
										data-target="#overview" type="button">Chung</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" data-toggle="tab"
										data-target="#description" type="button" role="tab">Quốc gia</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" data-toggle="tab"
										data-target="#images" type="button" role="tab">Bang/Tỉnh</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="messages-tab" data-toggle="tab"
										data-target="#details" type="button" role="tab">Mail
										Server</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="messages-tab" data-toggle="tab"
										data-target="#shipping" type="button" role="tab">Mail
										Templates</button>
								</li>
							</ul>

							<!-- Tab panes -->
							<div class="tab-content">
								<div class="tab-pane active p-3" id="overview" role="tabpanel">
									<div th:replace="/settings/setting_genaral :: content"></div>
								</div>

								<div class="tab-pane" id="description" role="tabpanel">
									<div th:replace="/settings/setting_countries :: content"></div>
								</div>


								<div class="tab-pane" id="images" role="tabpanel">
									<div th:replace="/settings/setting_states :: content"></div>
								</div>

								<div class="tab-pane" id="details" role="tabpanel">
									<div th:replace="/settings/setting_mail_server :: content"></div>
								</div>

								<div class="tab-pane" id="shipping" role="tabpanel">
									<div th:replace="settings/mail_templates/mail_template :: content"></div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>


	</div>
	
	
	<script type="text/javascript">
		moduleURL = "[[@{/settings}]]";
		$("#customerVerificationContent").richText();
		$("#customerOrder").richText();
		$("#orderConfirmationContent").richText({height: 400});
		nameStatesBycontry = [];
		$("input[name=nameStates]").each(function(){
			nameStatesBycontry.push($(this).val());
		});
		
		$(document).ready(function(){
			$('#contriesState').change(function(){
				con = $(this);
				if (con.val() == 0){
					$('#states').empty();
					return;
				}
				html = "";
				countStateByCountry = 0;
				$("input[name=statesId]").each(function(index){
					if (con.val() == $(this).val()){
						html += `<option>${nameStatesBycontry[index]}</option>`;
						$('#states').html(html);
						countStateByCountry++;
					}
				});
				if (countStateByCountry == 0){
					$('#states').empty();
				}
			});
		});
	</script>
	<script type="text/javascript" th:src="@{/js/common_form.js}"></script>
</body>
</html>