<!DOCTYPE html>
<html>
<body>
	<div th:fragment="content" remove="tag">
		<form class="container-fuild" th:action="@{/settings/save_genaral}" method="post"
			enctype="multipart/form-data">
			<div class="form-group row">
				<label for="name" class="col-sm-2 col-form-label">Tên website:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="SITE_NAME"
						th:value="${SITE_NAME}" required="required" minlength="3"
						maxlength="256">
				</div>
			</div>

			<div class="form-group row">
				<label for="name" class="col-sm-2 col-form-label">Copyright:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="COPY_RIGHT"
						th:value="${COPY_RIGHT}" required="required" minlength="3"
						maxlength="256">
				</div>
			</div>

			<div class="form-group row align-items-center">
				<label for="fileImage" class="col-sm-2 col-form-label">Logo trang web</label>
				<div class="col-sm-10">
					<div class="container-fluid">
						<div class="row align-items-center">
							<input type="file" class="form-control-file col-6"
								name="fileImage" id="fileImage"
								style="padding: 0">
							<img alt="" style="width: 100px;" th:src="@{${SITE_LOGO}}"
								id="thumbnail" class="img-fluid simg-thumbnail" />
						</div>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<label for="alias" class="col-sm-2 col-form-label">Loại tiền tệ: </label>
				<div class="col-sm-10">
					<select class="form-control" name="CURRENCY_ID">
						<th:block th:each="cur : ${listCurrenies}">
							<option th:selected="(${cur.id}==${CURRENCY_ID})" th:value="${cur.id}">[[${cur}]]</option>
						</th:block>
					</select>
				</div>
			</div>
			
			<div class="form-group row">
				<label for="alias" class="col-sm-2 col-form-label">Vị trí ký hiệu tiền tệ: </label>
				<div class="col-sm-10">
					<select class="form-control" name="CURRENCY_SYMBOL_POSITION">						
						<option th:selected="(${CURRENCY_SYMBOL_POSITION}=='before')" 
							value="before">Before price</option>
						<option th:selected="(${CURRENCY_SYMBOL_POSITION}=='after')" 
							value="after">After price</option>
					</select>
				</div>
			</div>
			
			<div class="form-group row">
				<label for="alias" class="col-sm-2 col-form-label">Loại dấu thập phân: </label>
				<div class="col-sm-10">
					<select class="form-control" name="DECIMAL_POINT_TYPE">						
						<option th:selected="(${DECIMAL_POINT_TYPE}=='POINY')" 
							value="POINT">Point (.)</option>
						<option th:selected="(${DECIMAL_POINT_TYPE}=='COMMA')" 
							value="COMMA">Comma (,)</option>
					</select>
				</div>
			</div>
			
			<div class="form-group row">
				<label for="alias" class="col-sm-2 col-form-label">Số chữ số thập phân: </label>
				<div class="col-sm-10">
					<select class="form-control" name="DECIMAL_DIGITS">						
						<option th:selected="(${DECIMAL_DIGITS}==1)" value="1">1</option>
						<option th:selected="(${DECIMAL_DIGITS}==2)" value="2">2</option>
						<option th:selected="(${DECIMAL_DIGITS}==3)" value="3">3</option>
						<option th:selected="(${DECIMAL_DIGITS}==4)" value="4">4</option>
					</select>
				</div>
			</div>
			
			<div class="form-group row">
				<label for="alias" class="col-sm-2 col-form-label">Kiểu ký hiệu hàng nghìn: </label>
				<div class="col-sm-10">
					<select class="form-control" name="DECIMAL_POINT_TYPE">						
						<option th:selected="(${DECIMAL_POINT_TYPE}=='POINY')" 
							value="POINT">Point (.)</option>
						<option th:selected="(${THOUSANDS_POIINT_TYPE}=='COMMA')" 
							value="COMMA">Comma (,)</option>
					</select>
				</div>
			</div>

			<div class="text-center">
				<input type="submit" class="btn btn-primary m-3" value="Save">
				<input type="button" class="btn btn-secondary" value="Cancels"
					id="buttonCancel">
			</div>
		</form>
	</div>
</body>
</html>